// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.hover-text a{
  transition: font-size 0.3s ease;
}

.hover-image:hover .hover-text a {
  font-size: 1.2em;
}

.hover-image img {
  transition: filter 0.3s ease; 
}

.hover-image:hover img {
  filter: blur(1.5px);
}

.add-pad {
  padding: 5vh 50px 7vh;
}

.tag-title h1{
  font-weight: bold;
}

.add-mar {
  padding-left: 15px; 
  padding-right: 15px; 
  margin: auto;
}

#profile {
  padding-bottom: 0;
}